<div style="background-color:blue; color:white; padding:30px; BORDER-radius:10px; text-align:center;">
  <h1 style="margin:0; font-size:1.8em;">A Comprehensive Guide to Using SQL in Python</h1>
</div>

*From Basic Queries to Production-Ready Database Applications*

---

## **Table of Contents**
1. [Why Use SQL in Python?](#why-use-sql-in-python)
2. [Core Concepts: DB-API 2.0](#core-concepts-db-api-20)
3. [Setting Up Your Environment](#setting-up-your-environment)
4. [Connecting to Databases](#connecting-to-databases)
5. [Executing Queries & Fetching Data](#executing-queries--fetching-data)
6. [Parameterized Queries (Preventing SQL Injection)](#parameterized-queries-preventing-sql-injection)
7. [Working with Transactions](#working-with-transactions)
8. **Database-Specific Examples**:
   - [SQLite (Built-in)](#sqlite-built-in)
   - [PostgreSQL (`psycopg2`)](#postgresql-psycopg2)
   - [MySQL (`mysql-connector-python`)](#mysql-mysql-connector-python)
9. [Using Pandas with SQL](#using-pandas-with-sql)
10. [Object-Relational Mapping (ORM) with SQLAlchemy](#object-relational-mapping-orm-with-sqlalchemy)
11. [Best Practices & Security](#best-practices--security)
12. [Advanced Patterns](#advanced-patterns)

---

## **1. Why Use SQL in Python?**

Python is the dominant language for data analysis, automation, and application development. Integrating SQL allows you to:
- **Persist data** beyond script execution
- **Query large datasets** efficiently (vs. loading everything into memory)
- **Leverage relational integrity** (foreign keys, constraints)
- **Build full-stack applications** (web backends, APIs, dashboards)
- **Automate ETL pipelines** (Extract, Transform, Load)

> ðŸ’¡ **Key Insight**: SQL handles **data storage/querying**, while Python handles **logic, analysis, and orchestration**.

---

## **2. Core Concepts: DB-API 2.0**

Pythonâ€™s database interface standard ([PEP 249](https://pep8.org/pep-0249/)) ensures consistent syntax across databases. All compliant libraries provide:

| Object | Purpose |
|--------|---------|
| `connect()` | Establish connection to DB |
| `connection` | Represents DB session |
| `cursor` | Executes SQL commands and fetches results |
| `execute()` | Run a single SQL statement |
| `executemany()` | Run SQL with multiple parameter sets |
| `fetchone()` / `fetchall()` / `fetchmany()` | Retrieve query results |

> âœ… **Benefit**: Switch between SQLite, PostgreSQL, MySQL with minimal code changes.

---

## **3. Setting Up Your Environment**

Install required packages:

In [1]:
# For SQLite (built into Python - no install needed)
# For PostgreSQL
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 1.9 MB/s eta 0:00:02
   --------------- ------------------------ 1.0/2.7 MB 2.6 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 3.1 MB/s  0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [2]:
# For MySQL
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.3.0)

In [3]:
# For ORM and pandas integration
!pip install sqlalchemy pandas

Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

---

## **4. Connecting to Databases**

### **General Pattern**

In [ ]:
import sqlite3  # or psycopg2, mysql.connector

# 1. Connect
conn = sqlite3.connect("ecommerce.db")  # File-based for SQLite

# 2. Create cursor
cur = conn.cursor()

# 3. Execute queries
cur.execute("SELECT * FROM users;")

# 4. Fetch results
rows = cur.fetchall()

# 5. Close connections
cur.close()
conn.close()

> âš ï¸ **Always close connections** to free resources (use `with` statements for auto-cleanup).

---

## **5. Executing Queries & Fetching Data**

### **Basic CRUD Operations**

In [5]:
import sqlite3

# Connect (auto-commits if not in transaction)
with sqlite3.connect("app.db") as conn:
    cur = conn.cursor()
    
    # CREATE TABLE
    cur.execute("""
        CREATE TABLE IF NOT EXISTS users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            email TEXT UNIQUE,
            age INTEGER
        )
    """)
    
    # INSERT (single)
    cur.execute(
        "INSERT INTO users (name, email, age) VALUES (?, ?, ?)",
        ("Alice", "alice@example.com", 30)
    )
    
    # INSERT (multiple)
    users_data = [
        ("Bob", "bob@example.com", 25),
        ("Charlie", "charlie@example.com", 35)
    ]
    cur.executemany(
        "INSERT INTO users (name, email, age) VALUES (?, ?, ?)",
        users_data
    )
    
    # SELECT
    cur.execute("SELECT * FROM users WHERE age > ?", (25,))
    results = cur.fetchall()
    for row in results:
        print(row)  # (1, 'Alice', 'alice@example.com', 30)
    
    # UPDATE
    cur.execute(
        "UPDATE users SET age = ? WHERE name = ?",
        (31, "Alice")
    )
    
    # DELETE
    cur.execute("DELETE FROM users WHERE age < ?", (30,))

(1, 'Alice', 'alice@example.com', 30)
(3, 'Charlie', 'charlie@example.com', 35)

### **Fetching Strategies**
| Method | Returns | Use Case |
|--------|---------|----------|
| `fetchone()` | Single row (`tuple`) or `None` | Process one row at a time |
| `fetchall()` | List of all rows | Small result sets |
| `fetchmany(size)` | List of `size` rows | Large datasets (memory efficient) |

In [ ]:
# Memory-efficient large dataset processing
cur.execute("SELECT * FROM huge_table")
while True:
    batch = cur.fetchmany(1000)
    if not batch:
        break
    process_batch(batch)

---

## **6. Parameterized Queries (Preventing SQL Injection)**

**NEVER** use string formatting for SQL queries:

In [ ]:
# âŒ DANGEROUS (SQL Injection vulnerability)
user_input = "'; DROP TABLE users; --"
query = f"SELECT * FROM users WHERE name = '{user_input}'"
cur.execute(query)  # Disaster!

**ALWAYS** use parameterized queries:

In [ ]:
# âœ… SAFE
user_input = "'; DROP TABLE users; --"
cur.execute("SELECT * FROM users WHERE name = ?", (user_input,))
# Treats input as literal string, not SQL code

### **Placeholder Syntax by Database**
| Database | Placeholder |
|----------|-------------|
| SQLite, MySQL | `?` |
| PostgreSQL | `%s` |
| SQLAlchemy (generic) | `:name` |

In [ ]:
# PostgreSQL example
cur.execute(
    "SELECT * FROM users WHERE age > %s AND city = %s",
    (25, "New York")
)

---

## **7. Working with Transactions**

Transactions ensure **ACID** properties (Atomicity, Consistency, Isolation, Durability).

### **Manual Transaction Control**

In [ ]:
try:
    conn = sqlite3.connect("app.db")
    conn.execute("BEGIN")  # Start transaction
    
    # Multiple operations
    conn.execute("UPDATE accounts SET balance = balance - 100 WHERE id = 1")
    conn.execute("UPDATE accounts SET balance = balance + 100 WHERE id = 2")
    
    conn.commit()  # Save changes
except Exception as e:
    conn.rollback()  # Revert all changes
    raise e
finally:
    conn.close()

### **Auto-Commit Mode**
- By default, `sqlite3` commits after every statement
- Disable with `isolation_level=None` for manual control:

In [ ]:
    conn = sqlite3.connect("app.db", isolation_level=None)

---

## **8. Database-Specific Examples**

### **SQLite (Built-in)**
Ideal for prototyping, small apps, and embedded systems.

In [ ]:
import sqlite3

# In-memory database (for testing)
conn = sqlite3.connect(":memory:")

# Enable foreign key support
conn.execute("PRAGMA foreign_keys = ON")

# Row factory for dict-like access
conn.row_factory = sqlite3.Row
cur = conn.cursor()
cur.execute("SELECT name, age FROM users")
row = cur.fetchone()
print(row["name"])  # Instead of row[0]

### **PostgreSQL (`psycopg2`)**
Enterprise-grade, supports advanced features (JSON, arrays, GIS).

In [ ]:
import psycopg2
from psycopg2.extras import RealDictCursor

conn = psycopg2.connect(
    host="localhost",
    database="mydb",
    user="myuser",
    password="mypassword"
)

# Dict-like rows
cur = conn.cursor(cursor_factory=RealDictCursor)
cur.execute("SELECT * FROM products")
product = cur.fetchone()
print(product["name"])

# JSON support
cur.execute("SELECT info::json FROM products")

### **MySQL (`mysql-connector-python`)**
Popular for web applications.

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="myuser",
    password="mypassword",
    database="mydb"
)

# Buffered cursor (fetches all rows immediately)
cur = conn.cursor(buffered=True)
cur.execute("SELECT * FROM orders")

## **9. Using Pandas with SQL**
Pandas simplifies data analysis with SQL integration.

### **Read SQL into DataFrame**

In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("sales.db")

# Read entire table
df = pd.read_sql("SELECT * FROM sales", conn)

# Read with parameters
df = pd.read_sql(
    "SELECT * FROM sales WHERE region = ?",
    conn,
    params=["North"]
)

# Read table directly
df = pd.read_sql_table("sales", conn)

### **Write DataFrame to SQL**

In [ ]:
# Write to new table
df.to_sql("new_table", conn, if_exists="replace", index=False)

# Append to existing table
df.to_sql("existing_table", conn, if_exists="append", index=False)

> âš ï¸ **Note**: `to_sql()` uses `executemany()` under the hoodâ€”efficient for bulk inserts.

---

## **10. Object-Relational Mapping (ORM) with SQLAlchemy**

SQLAlchemy abstracts SQL into Python objects, enabling database-agnostic code.

### **Core vs ORM**
- **SQLAlchemy Core**: SQL expression language (closer to raw SQL)
- **SQLAlchemy ORM**: Maps classes to tables (higher abstraction)

### **ORM Example**

In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()

class User(Base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    email = Column(String(100), unique=True)
    
    orders = relationship("Order", back_populates="user")

class Order(Base):
    __tablename__ = "orders"
    
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey("users.id"))
    amount = Column(Integer)
    
    user = relationship("User", back_populates="orders")

# Setup
engine = create_engine("sqlite:///app.db")
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

# Create records
user = User(name="Alice", email="alice@example.com")
session.add(user)
session.commit()

# Query
users = session.query(User).filter(User.name.like("%Ali%")).all()
for u in users:
    print(u.email)

### **Advantages of ORM**
- No raw SQL strings
- Automatic JOINs via relationships
- Database portability
- Built-in connection pooling

---

## **11. Best Practices & Security**

### **Security**
1. **Always use parameterized queries**
2. **Store credentials securely**:

In [ ]:
# Use environment variables
import os
password = os.getenv("DB_PASSWORD")

3. **Least privilege principle**: DB user should have minimal required permissions
4. **Validate/sanitize inputs** before using in queries

### **Performance**
- **Use connection pooling** for web apps (SQLAlchemy handles this)
- **Index frequently queried columns**
- **Avoid `SELECT *`**â€”fetch only needed columns
- **Batch inserts** with `executemany()`

### **Error Handling**

In [ ]:
from sqlite3 import IntegrityError, OperationalError

try:
    cur.execute("INSERT INTO users (email) VALUES (?)", ("test@example.com",))
except IntegrityError as e:
    print("Email already exists!")
except OperationalError as e:
    print("Database error:", e)

## **12. Advanced Patterns**

### **Context Manager for Connections**

In [ ]:
from contextlib import contextmanager

@contextmanager
def get_db_connection():
    conn = sqlite3.connect("app.db")
    try:
        yield conn
    finally:
        conn.close()

# Usage
with get_db_connection() as conn:
    cur = conn.cursor()
    cur.execute("SELECT * FROM users")
```

### **Asynchronous SQL (for Web Apps)**
Use `asyncpg` (PostgreSQL) or `aiosqlite`:
```python
import aiosqlite

async def get_users():
    async with aiosqlite.connect("app.db") as db:
        async with db.execute("SELECT * FROM users") as cursor:
            return await cursor.fetchall()

### **Migrations with Alembic**
Manage schema changes over time:

In [ ]:
pip install alembic
alembic init migrations

In [ ]:
# Edit alembic.ini and env.py
alembic revision -m "create users table"
alembic upgrade head

---

## **Final Project: REST API with Flask + SQLAlchemy**

In [ ]:
from flask import Flask, request, jsonify
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

app = Flask(__name__)
engine = create_engine("sqlite:///api.db")
Base = declarative_base()
Session = sessionmaker(bind=engine)

class User(Base):
    __tablename__ = "users"
    id = Column(Integer, primary_key=True)
    name = Column(String(50))

Base.metadata.create_all(engine)

@app.route("/users", methods=["POST"])
def create_user():
    data = request.json
    session = Session()
    try:
        user = User(name=data["name"])
        session.add(user)
        session.commit()
        return jsonify({"id": user.id, "name": user.name}), 201
    except Exception as e:
        session.rollback()
        return jsonify({"error": str(e)}), 400
    finally:
        session.close()

@app.route("/users", methods=["GET"])
def get_users():
    session = Session()
    users = session.query(User).all()
    return jsonify([{"id": u.id, "name": u.name} for u in users])

---

## **Key Takeaways**

| Scenario | Recommended Tool |
|----------|------------------|
| Simple scripts, prototyping | `sqlite3` + raw SQL |
| Data analysis | `pandas.read_sql()` |
| Web applications | SQLAlchemy ORM + connection pooling |
| High-performance writes | `executemany()` or bulk insert |
| Complex queries | Raw SQL with parameterization |

> ðŸ”‘ **Golden Rule**: **Never trust user input**. Always use parameterized queries to prevent SQL injectionâ€”the #1 web security risk.